@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Special+Elite&display=swap');
:root {
  --font-base: 'Cookie', serif;
  --font-alt: 'Special Elite', sans-serif;
  
  --color-golden: gold;
  --color-black: linear-gradient(90deg, rgba(2,0,36,1) 23%, rgba(18,4,80,0.9813425164473685) 46%, rgba(71,36,6,1) 89%);
  --color-gray: slateblue;
  --color-crimson: saddlebrown;
  --color-grey: aquamarine;
  --color-white: magenta;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
